POSTGRES_PASSWORD=change_me_local_dev_only
MONGO_ROOT_USER=corebank_admin
MONGO_ROOT_PASSWORD=change_me_local_dev_only
REDIS_PASSWORD=change_me_local_dev_only
JWT_SECRET=bXlfc3VwZXJfc2VjcmV0X2tleV90aGF0X211c3RfYmVfYXRfbGVhc3RfMjU2X2JpdHM=
